<div class="dialog-header-container">
  <p class="dialog-header">{{data.name}}</p>  
</div>
<form #categoryForm="ngForm" (ngSubmit)="createCategory(categoryForm.value)">
  <mat-form-field class="full-width">
    <input matInput placeholder="Назва категорії" name="name" ngModel>
  </mat-form-field>
  
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Опис категорії" name="description" ngModel></textarea>
  </mat-form-field>

  <button mat-button>Додати категорію</button>
</form>